*{
    margin: 0px;
    padding: 0px;
}

body, html{
    width: 100%;
    height: 100%;
}

.body-card{
    width: 25%;
    margin: auto;
    height: 500px;
    border-radius: 20px;
    box-shadow: 0px 0px 5px grey;
}

.body-head-card{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: rgb(67, 73, 155);
    width: 100%;
    margin-top: 50px;
    padding-top: 10px;
}

.frame-picture{
    margin: auto;
    width: 100px;
    height: 100px;
    margin-top: -50px;
    border-radius: 50%;
    background-color: white;
    overflow: hidden;
    box-shadow: 0px 2px 10px black;
}

.frame-picture img{
    width: 100%;
}

.text-card:first-of-type{
    padding-top: 5%;
}

.text-card:last-of-type{
    padding-bottom: 5%;
}

.text-card-name{
    font-size: 30px;
    font-weight: bolder;
    padding-bottom: 20px;
    font-style: normal;
}

.text-card-number{
    font-size: 20px;
    padding: 20px;
    font-style: italic;
}

.text-card-link{
    font-size: 20px;
    font-style: italic;
}

.text-card{
    color: white;
    text-align: center;
}

.body-date-card{
    height: 100px;
    text-align: justify;
}

.date{
    width: 80%;
    margin: auto;
    padding: 15px;
    display: flex;
}

.ornament{
    border-radius: 100%;
    margin-right: 10px;
    margin-top: 4px;
    padding: 2px;
    width: 10px;
    height: 10px;
    background-color: black;
}

.date p{
    font-size: 20px;
}

.devices .ornament{
    background-color: burlywood;
}

.location .ornament{
    background-color: orange;
}

.profile .ornament{
    background-color: greenyellow;
}

.total-amount{
    margin-top: 20px;
    text-align: center;
    font-style: italic;
    font-size: 30px;
}

#root{
    background-color: rgb(224, 218, 218);
    background-image: url('https://pbs.twimg.com/media/D6uc2kBX4AAv3xV.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.column{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.row{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 66%;
}

.body-file-user{
    width: 94.5%;
    height: 80%;
    position: relative;
    padding-left: 90px;
    top: 20%;
    background-color: rgb(211, 207, 207);
}

.presentation-picture-user{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    right: 70px;
    margin: auto;
    width: 100%;
    height: 200px;
}

.picture-frame-file{
    position: relative;
    top: -50px;
    box-shadow: 0 0 5px grey;
    width: 130px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}

.picture-frame-file img{
    width: 102%;
    margin: auto;
}

.name-presentation{
    margin-top: -10px;
    font-size: 40px;
    font-weight: bolder;
}

.username-presentation{
    font-size: 30px;
    font-weight:400;
}

.title-section-file-user{
    font-size: 30px;
    font-weight: bolder;
}

.section-file-user{
    width: 80%;
    background-color: rgb(243, 237, 237);
    margin: 10px;
}

.section-file{
    display: flex;
    height: 70px;
    padding-left: 10px;
    padding-right: 10px;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 2px grey;
}

.section-settings{
    height: 200px;
}

.file-settings{
    text-align: end;
    padding: 5% 2%;
}

.file-link, .file-settings{
    color: rgb(0, 60, 255);
    text-decoration: underline;
    cursor: pointer;
}

.file-link:hover, .file-settings:hover{
    text-shadow: 0 0 5px rgb(0, 60, 255);
}

.subtitle-section{
    font-weight: bolder;
    font-size: 20px;
}

.separator{
    position: relative;
    top:30px;
    right: 70px;
    height: 400px;
    width: 8px;
    box-shadow: 0 0 5px grey inset, 0 0 5px grey;
}

.extra-content-file-user{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap:5px;
}

.icon{
    width: 20px;
    height: 20px;
    border: 0;
    box-shadow: 0 0 3px grey;
    cursor: pointer;
}

.icon:hover{
    box-shadow: 0 0 8px grey;
}

input{
    width: 50%;
    height: 20px;
    font-size: 20px;
    outline: none;
    border: none;
    box-shadow: 0 0 3px grey;
}

.icon img{
    width: 100%;
}